src/main/webapp/nodered/cejson-to-geojson.json
[{"id":"8e33e746.2d8998","type":"debug","z":"a10811c6.c9cf4","name":"","active":true,"console":"false","complete":"payload","x":917.5,"y":377.5,"wires":[]},{"id":"e8e1f35.5ae3e9","type":"http request","z":"a10811c6.c9cf4","name":"","method":"GET","ret":"obj","url":"http://ce-crisishack.eu-gb.mybluemix.net/ce-store/concepts/hospital/instances?style=normalised","tls":"","x":452.5,"y":382.75,"wires":[["fb6304d7.cd40c8"]]},{"id":"64bd71f9.75b19","type":"inject","z":"a10811c6.c9cf4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":239.5,"y":384.25,"wires":[["e8e1f35.5ae3e9"]]},{"id":"fb6304d7.cd40c8","type":"change","z":"a10811c6.c9cf4","name":"ceJSON to geoJSON","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.{'type':'Feature',\t'geometry':{\t'type':'Point',\t'coordinates':[$number(latitude),$number(longitude)]\t},\t'properties': {'name':_id}}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":695.5,"y":376.75,"wires":[["8e33e746.2d8998"]]}]
