src/main/webapp/nodered/geojson-to-ce.json
[{
    "id": "f5cafab7.8f7a38",
    "type": "debug",
    "z": "fed3df8f.762cb",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 350.5,
    "y": 71,
    "wires": []
}, {
    "id": "35071538.bf90ea",
    "type": "http in",
    "z": "fed3df8f.762cb",
    "name": "",
    "url": "/geojson-to-ce",
    "method": "get",
    "swaggerDoc": "",
    "x": 95,
    "y": 74,
    "wires": [
        ["d214da9b.5f7f78", "f5cafab7.8f7a38"]
    ]
}, {
    "id": "d214da9b.5f7f78",
    "type": "function",
    "z": "fed3df8f.762cb",
    "name": "properties",
    "func": "msg.properties = {};\n//msg.properties.concept = \"community care centre\";\nmsg.properties.concept = msg.req.query.concept;\nmsg.properties.cestore = msg.req.query.cestore;\nmsg.properties.geojson = msg.req.query.geojson;\n\nif (msg.properties.concept == null) {\n    msg.properties.concept = \"spatial thing\";\n}\n\nmsg.req.query = {};\nmsg.url = msg.properties.geojson;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 213,
    "y": 129,
    "wires": [
        ["905e73ca.792a7", "bfea29fc.50e6a8"]
    ]
}, {
    "id": "905e73ca.792a7",
    "type": "http request",
    "z": "fed3df8f.762cb",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "url": "",
    "tls": "",
    "x": 356,
    "y": 172,
    "wires": [
        ["8e81f234.446bc", "710d346.e0008cc"]
    ]
}, {
    "id": "bfea29fc.50e6a8",
    "type": "debug",
    "z": "fed3df8f.762cb",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "true",
    "x": 406.5,
    "y": 108,
    "wires": []
}, {
    "id": "8e81f234.446bc",
    "type": "debug",
    "z": "fed3df8f.762cb",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "false",
    "x": 567,
    "y": 129,
    "wires": []
}, {
    "id": "710d346.e0008cc",
    "type": "function",
    "z": "fed3df8f.762cb",
    "name": "Generate CE",
    "func": "msg.ce = \"\";\n\nfor (i = 0; i < msg.payload.features.length; i++) { \n  var feature = msg.payload.features[i];\n  var lat = feature.geometry.coordinates[1];\n  var lon = feature.geometry.coordinates[0];\n\n  msg.ce += \"there is a \";\n  msg.ce += msg.properties.concept + \" named '\";\n  msg.ce += feature.id;\n  msg.ce += \"' that\\n\";\n  msg.ce += \"  has '\" + lat + \"' as latitude and\\n\";\n  msg.ce += \"  has '\" + lon + \"' as longitude\";\n  msg.ce += \".\";\n  msg.ce += \"\\n\\n\";\n}\n\nif (msg.properties.cestore != null) {\n  msg.url = msg.properties.cestore;\n} else {\n  msg.url = \"http://ce-crisishack.eu-gb.mybluemix.net/ce-store/sentences\";\n}\n\nmsg.payload = msg.ce;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 506,
    "y": 215,
    "wires": [
        ["74f6efef.85526", "2d7c827f.c7020e"]
    ]
}, {
    "id": "74f6efef.85526",
    "type": "debug",
    "z": "fed3df8f.762cb",
    "name": "",
    "active": false,
    "console": "false",
    "complete": "ce",
    "x": 665,
    "y": 164,
    "wires": []
}, {
    "id": "2d7c827f.c7020e",
    "type": "http request",
    "z": "fed3df8f.762cb",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "url": "",
    "tls": "",
    "x": 614,
    "y": 265,
    "wires": [
        ["5c640fb9.9910f", "e4fd2ca3.3ca2a"]
    ]
}, {
    "id": "5c640fb9.9910f",
    "type": "http response",
    "z": "fed3df8f.762cb",
    "name": "",
    "x": 734,
    "y": 315,
    "wires": []
}, {
    "id": "e4fd2ca3.3ca2a",
    "type": "debug",
    "z": "fed3df8f.762cb",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 714.5,
    "y": 208,
    "wires": []
}]
